<ion-header>
  <ion-toolbar>
    <ion-title>resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="takeSnap()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <img #waterMarkedImage>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button (click)="getGeolocation()">
        <ion-icon name="compass"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <div *ngIf="geoLatitude">
      <p>Latitude : {{geoLatitude}}</p>
      <p>Longitude : {{geoLongitude}}</p>
      <p>Accuracy : {{geoAccuracy}}</p>
    <p class="address-text">
 
      <br>Address : {{geoAddress }}
    </p>
  </div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary" class="Tabs">
  <ion-tab-button routerLink="/home">
    <ion-icon name="images"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-tab-button>
  <ion-tab-button tab='/adopcion'>
    <ion-icon name="bowtie"></ion-icon>
    <ion-label>Adopcion</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink='/resumen'>
    <ion-icon name="camera"></ion-icon>
    <ion-label>Encontre un perro</ion-label>
  </ion-tab-button>
</ion-tab-bar>
