ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
  }
  ion-button{
    --background: #fff;
    --opacity: 100;	
    font-weight: 700;
    color: #15D0B3;
  }
  ion-icon{
    font-size: 25px;
}