ion-item{
    --background: #53d8e0;
    --color: #fff;
    --border-color: white;
}
ion-input{
    --placeholder-color: white; 
    --placeholder-opacity: 100;
}
ion-icon{
    font-size: 25px;
}
ion-content{
    --border-color: white;
}
.center {
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
h3{
    color: white;
    font-weight: bold;
}
div {
    background-color: inherit;
    border: 0px;
  }
.icon-bigger {
    font-size: 100px;
}
.editButton {
    padding-top: 40px;
    text-align: center;
}
ion-card{
    width: 100% !important;
}
hr{
    border: 0.1px solid white;
}
.cardItems{
    color: #fff;
    --background:  #fff;
}
.Footer{
    color: #fff;
    --background:  #fff;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
.Tabs{
    --background: #53d8e0;
    --color: #fff;
    --border-color: white;
}