<ion-toolbar color="primary">
  <ion-title>¿Quién eres?</ion-title>
</ion-toolbar>

<ion-content color="primary">

  <ion-item>
    <ion-label stacked>Nombre</ion-label>
    <ion-input type="text" text-right id="input" [(ngModel)]="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Telefono</ion-label>
    <ion-input type="text" text-right id="input" [(ngModel)]="Telefono"></ion-input>
  </ion-item>

  <br>
  
  <ion-item>
      <ion-label stacked align="center">¿Tienes mas mascotas?</ion-label>
    </ion-item>
  <ion-item>
    <div class="divButtonSmall">
      <ion-segment [(ngModel)]="masMascotas">
        <ion-segment-button value="true" checked>
          <ion-label>Si</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>No </ion-label>
        </ion-segment-button>
      </ion-segment>
  </div>
  </ion-item>

  <br>
  
  <ion-item>
      <ion-label stacked align="center">¿Tienes patio?</ion-label>
    </ion-item>
  <ion-item>
    <div class="divButtonSmall">
      <ion-segment [(ngModel)]="Patio">
        <ion-segment-button value="true" checked>
          <ion-label>Si</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>No </ion-label>
        </ion-segment-button>
      </ion-segment>
  </div>
  </ion-item>

  <div class="botones">

    <ion-button (click)="salirModal()">Cancelar</ion-button>

    <ion-button (click)="Adoptar()">Aceptar</ion-button>

  </div>



</ion-content>