ion-title{
    --color: white;
    font-size: 18pt;
}
.titulo{
    font-size: x-large;
}
ion-input{
    --placeholder-color: white; 
    --placeholder-opacity: 100;
}

ion-item{
    --background: #53d8e0;
    --color: #fff;
    --border-color: white;
}
.divButton{
    width: 50%;
    float: left;
    justify-content: center;
    text-align: center;
}

.divButtonSmall{
    width: 100%;
    float: left;
    text-align: center;
}
ion-segment-button{
    --indicator-color-checked: white;
    --color-checked: white;
}
ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 700;
    color: #53d8e0;
}

ion-content{
    --padding-bottom: 30pt;
    --padding-end: 30pt;
    --padding-start: 30pt;
    --padding-top: 30pt;
}

.tipo{
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.botones{
    padding-top: 20pt;
    padding-bottom: 20pt;
    text-align: center;
}