<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      El ABC de los animales
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let animal of Animales" size = '12'>
          <ion-card (click) = "reproducirAnimal(animal)" tappable>
            <ion-img src="{{animal.imagen}}"></ion-img>
            <p>
              Especie: {{animal.especie}}
              <br>
              Raza: {{animal.raza}}
              <br>
              Alimentacion: {{animal.alimentacion}}
              <br>
              Ecosistema: {{animal.ecosistema}}
              <br>
              Peso: {{animal.peso}}
              <br>
              Genero: {{animal.genero}}
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div align ="center">
    <input class="toggle" type="checkbox" (change)="switchFlashlight($event)"/>
    </div>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <img [src]="currentImage" *ngIf="currentImage">
</ion-content>

