<ion-header >
    <ion-toolbar color="primary">
      <ion-col>
        <ion-icon name="menu" (click)="SideBar()"></ion-icon>
      </ion-col>
      <ion-col class="center">
        Galeria de Animales
      </ion-col>    
    </ion-toolbar> 
  </ion-header>
  
  <ion-content color="primary" class="ion-padding">
    <ion-list>
      <ion-item-sliding *ngFor="let animal of Animales">
        <ion-item>
            <ion-card (click) = "reproducirAnimal(animal)" tappable class="cardItems">
                <ion-row>
              <ion-img src="{{animal.imagen}}"></ion-img>
              </ion-row>
              <ion-row>
              <p padding>
                Especie: {{animal.especie}}
                <br>
                Raza: {{animal.raza}}
                <br>
                Alimentacion: {{animal.alimentacion}}
                <br>
                Ecosistema: {{animal.ecosistema}}
                <br>
                Peso: {{animal.peso}}
                <br>
                Genero: {{animal.genero}}
              </p>
              </ion-row>
            </ion-card>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <br>
    <div align="center">
      <input class="toggle" type="checkbox" (change)="switchFlashlight($event)"/>
    </div>
  </ion-content>
  
  <ion-tab-bar slot="bottom" color="primary" class="Tabs">
    <ion-tab-button tab="/home">
      <ion-icon name="images"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink='/adopcion'>
      <ion-icon name="bowtie"></ion-icon>
      <ion-label>Adopcion</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink='/resumen'>
      <ion-icon name="camera"></ion-icon>
      <ion-label>Encontre un perro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>